{% extends "main/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

{% block title %}Add Research{% endblock %}

<style>
    #optionKeyword option:hover:not(.selected) {
        background-color: rgb(206, 206, 206);
        /* Add a hover effect to all links, except for headers */
    }
</style>


{% block extra_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css" />
<link rel="shortcut icon" href="{% static 'images/icon/blog1.png' %}" type="image/x-icon">
{% endblock extra_css %}

<section class=" login-reg">
    <div class="container">
        <div class="row">
            {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="True">&times;</span>
                    </button>
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            <h4><strong>ADD RESEARCH</strong></h4>
            <div class="login">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{form.title|as_crispy_field}}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                
                                <label>Author</label><br>
                                <select data-size="10" required data-live-search="true" class="selectpicker"
                                    data-width="100%" title="Search for authors..." data-selected-text-format="count > 4" multiple name="author">
                                    <optgroup label="STUDENT">
                                        {% for authors in author %}
                                            {% if authors.is_student == True %}
                                            <option data-subtext="{{authors.program.name}}" value="{{authors.id}}">
                                                {{authors.first_name}}
                                                {{authors.last_name}}
                                            </option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>

                                    <optgroup label="FACULTY">
                                        {% for authors in author %}
                                            {% if authors.is_faculty == True %}
                                            <option data-subtext="{{authors.program.name}}" value="{{authors.id}}">
                                                {{authors.first_name}}
                                                {{authors.last_name}}
                                            </option>
                                            {% endif %}
                                        {% endfor %}
                                    </optgroup>
                                </select>
                            </div>

                            <div class="form-group col-md-6">
                                <label>Keyword</label><br>
                                <select data-size="10" data-live-search="true" class="selectpicker" data-width="100%"
                                    title="Search for keywords..." data-selected-text-format="count > 4" multiple  name="keyword">
                                    {% for keywords in keyword %}
                                    <option value="{{keywords.id}}">{{keywords}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-7">
                                {{form.program|as_crispy_field}}
                            </div>
                            <div class="col">
                                {{form.school_year_from|as_crispy_field}}
                            </div>
                            <div class="col">
                                {{form.school_year_to|as_crispy_field}}
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="form-group col-md-3">
                                <label>PDF File</label>
                                {{form.pdf}}
                            </div>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
{% endblock extra_scripts %}
{% endblock %}