
{% load static %}

<!--LEFT SECTION-->
<div class="ud-lhs">
    <div class="ud-lhs-s1">
        {% if request.user.enduser.profile == "" %}
        <img src="{% static 'images/default.png' %}" alt="">
        {% else %}
        <img src="{{request.user.enduser.profile.url}}" alt="">
        {% endif %}
        <h4>{{request.user.enduser.first_name}}&nbsp;{{request.user.enduser.last_name}}&nbsp;
        </h4>
        <b><strong>(ADMIN)</strong></b>
    </div>
    <div class="ud-lhs-s2">
        <ul>
            <li>
                <a href="/dashboard" class="db-lact">
                    <img src="{% static 'images/icon/dbl1.png' %}" alt=""/>
                    <strong>DASHBOARD</strong>
                </a>
            </li>
            <li>
                <a href="/edit_profile" class>
                    <img src="{% static 'images/icon/profile.png' %}" alt=""/>
                    <strong>EDIT PROFILE</strong>
                </a>
            </li>
            <hr>
            <Strong>ADD ACCOUNT</Strong>
            <li>
                <a href="/add_admin" class>
                    &nbsp;&nbsp;&nbsp;<img src="{% static 'images/icon/how1.png' %}" alt=""/>
                    Admin 
                </a>
            </li>

            <li>
                <a href="/add_faculty" class>
                    &nbsp;&nbsp;&nbsp;<img src="{% static 'images/icon/4.png' %}" alt=""/>
                    Faculty
                </a>
            </li>

            <li>
                <a href="/add_student" class>
                    &nbsp;&nbsp;&nbsp;<img src="{% static 'images/icon/students.png' %}" alt=""/>
                    Student
                </a>
            </li>
            <li>
                <a><Strong>Import CSV</Strong></a>
                <a href="/import_student_csv" class>
                    &nbsp;&nbsp;&nbsp;<img src="{% static 'images/icon/students.png' %}" alt=""/>
                    Students (CSV)
                </a>
            </li>
            <li>
                <a href="/import_faculty_csv" class>
                    &nbsp;&nbsp;&nbsp;<img src="{% static 'images/icon/4.png' %}" alt=""/>
                    Faculties (CSV)
                </a>
            </li>
            <hr>
            <strong>ADD KEYWORD</strong>
            <li>
                <a href="/add_keyword" class>
                    &nbsp;&nbsp;&nbsp;<img src="{% static 'images/icon/search1.png' %}" alt=""/>
                    Keyword
                </a>
            </li>
            <li>
                <a><Strong>Import CSV</Strong></a>
                <a href="/import_keyword_csv" class>
                    &nbsp;&nbsp;&nbsp;<img src="{% static 'images/icon/search1.png' %}" alt=""/>
                    Keywords (CSV)
                </a>
            </li>
            <hr>
            <strong>ADD RESEARCH</strong>
            <li>
                <a href="/add_research" class>
                    &nbsp;&nbsp;&nbsp;<img src="{% static 'images/icon/blog1.png' %}" alt=""/>
                    Research
                </a>
            </li>
            <hr>
            <li>
                <a href="/logout" class>
                    <img src="{% static 'images/icon/logout.png' %}" alt="" />
                    <strong>LOGOUT</strong>
                </a>
            </li>
            <hr>
        </ul>
    </div>
</div>