{% extends "main/base.html" %}
{% load static %}

{% block title %}REPORT{% endblock %}


{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/new_css/dtcss/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'css/new_css/dtcss/buttons.dataTables.min.css' %}">
<link rel="shortcut icon" href="{% static 'images/icon/blog.png' %}" type="image/x-icon">
{% endblock extra_css %}
<!-- START -->
<style>
    th {
        align-items: center;
        color: white;
    }

    td {
        align-items: center;
        text-align: center;
    }
</style>

<section>
    <div class="container">
        <div class="row">
            <div class="ban-tit">
                <h1 style="color: black;">
                    <b style="color: black;">Login History</b>
                </h1>
            </div>
        </div>
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
        {% endfor %}
        <table id="example" class="display" style="text-align: center;">
            <thead style="text-align: center; background-color: #090b52;">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Login Date</th>
                </tr>
            </thead>
            <tbody>
                {% for his in log_his %}
                    <tr>
                        <td>{{his.end_user.first_name}}</td>
                        <td>{{his.end_user.last_name}}</td>
                        <td>{{his.login_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</section>
<!--END-->
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/newjs/dtjs/jquery-3.5.1.js' %}"></script>
<script src="{% static 'js/newjs/dtjs/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/newjs/dtjs/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/newjs/dtjs/jszip.min.js' %}"></script>
<script src="{% static 'js/newjs/dtjs/pdfmake.min.js' %}"></script>
<script src="{% static 'js/newjs/dtjs/vfs_fonts.js' %}"></script>
<script src="{% static 'js/newjs/dtjs/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/newjs/dtjs/buttons.print.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "order": [[ 2, "desc" ]],
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                {
                    extend: 'pdf',
                    messageTop: 'REPORT',
                    messageBottom: '\n\nGenerated by:\n{{user}}',
                    exportOptions: {
                        columns: [2, 0, 1], // Only name, email and role
                    }
                },
                {
                    extend: 'print',
                    messageTop: 'REPORT',
                    messageBottom: '\n\nGenerated by:\n{{user}}',
                    exportOptions: {
                        columns: [2, 0, 1], // Only name, email and role
                    }
                },
            ],
        })
    });
</script>
{% endblock extra_scripts %}