{% extends "main/base.html" %}
{% load static %}

{% block title %}REPORT{% endblock %}


{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/new_css/dtcss/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'css/new_css/dtcss/buttons.dataTables.min.css' %}">
<link rel="shortcut icon" href="{% static 'images/icon/programs.png' %}" type="image/x-icon">
{% endblock extra_css %}
<!--START-->
<style>
    th {
        align-items: center;
        color: white;
    }

    td {
        align-items: center;
        text-align: center;
    }
</style>
<section>
    <div class="container">
        <div class="row">
            <div class="ban-tit">
                <h1 style="color: black;">
                    <b style="color: black;"><br>Research Output Summary</b>PROGRAM
                </h1>
            </div>
        </div>
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
        {% endfor %}
        <table id="example" class="display" style="text-align: center;">
            <thead style="text-align: center; background-color: #090b52;">
                <tr>
                    <th data-visible="false">Keyword</th>
                    <th>Program</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>School Year</th>
                </tr>
            </thead>
            <tbody>
                {% for res in res_out %}

                <tr>
                    <td>{% for key in res.keyword.all %} {{key}}, {% endfor %}</td>
                    <td>{{res.program}}</td>
                    <td>
                        <a href="{{res.pdf.url}}">{{res.title}}</a>
                    </td>
                    <td>{% for author in res.author.all %} {{author.first_name}} {{author.last_name}}, {% endfor %}</td>
                    <td>{{res.school_year_from}}-{{res.school_year_to}}</td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</section>
<!--END-->
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'js/newjs/dtjs/jquery-3.5.1.js' %}"></script>
<script src="{% static 'js/newjs/dtjs/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'js/newjs/dtjs/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/newjs/dtjs/jszip.min.js' %}"></script>
<script src="{% static 'js/newjs/dtjs/pdfmake.min.js' %}"></script>
<script src="{% static 'js/newjs/dtjs/vfs_fonts.js' %}"></script>
<script src="{% static 'js/newjs/dtjs/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/newjs/dtjs/buttons.print.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "order": [[ 4, "desc" ]],
            dom: 'Bfrtip',
            buttons: [
                'copyHtml5',
                'excelHtml5',
                'csvHtml5',
                {
                    extend: 'pdf',
                    messageTop: 'REPORT',
                    messageBottom: '\n\nGenerated by:\n{{user}}',
                    exportOptions: {
                        columns: [4, 3, 1, 2, 0], // Only name, email and role
                    }
                },
                {
                    extend: 'print',
                    messageTop: 'REPORT',
                    messageBottom: '\n\nGenerated by:\n{{user}}',
                    exportOptions: {
                        columns: [4, 3, 1, 2, 0], // Only name, email and role
                    }
                },
            ],
        })
    });
</script>
{% endblock extra_scripts %}