{% extends "main/base.html" %}
{% load static %}
{% block title %}
Add Admin Account
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% block extra_css %}
<link rel="shortcut icon" href="{% static 'images/icon/how1.png' %}" type="image/x-icon">
{% endblock extra_css %}
<section class=" login-reg">
    <div class="container">
        <div class="row">
            <div class="login-main">
                <div class="text-center">
                    {% for message in messages %}
                    <div class="container-fluid p-0">
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="True">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    </div>
                    {% endfor %}
                    <h4>Add Admin Account</h4>
                </div>
                <div class="log-bor">&nbsp;</div>
                <!--REGISTER_1-->
                <div class="log log-1">
                    <div class="login">
                        <form method="POST" class="form-group">
                            {% csrf_token %}
                            <div class="fv-row mb-7">
                                <strong class="text-dark fs-6 form-label fw-bolder">
                                    {{form.id_number|as_crispy_field}}
                                    {{form.first_name|as_crispy_field}}
                                    {{form.last_name|as_crispy_field}}
                                </strong>
                            </div>
                            <div class="text-center">
                                <button type="submit" id="kt_sign_up_submit" class="btn btn-lg btn-primary">
                                    <span class="indicator-label">Next</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}