{% extends "main/base.html" %}
{% load static %}
{% block title %}
Login
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{% block extra_css %}
<link rel="shortcut icon" href="{% static 'images/ro-logo.png' %}" type="image/x-icon">
{% endblock extra_css %}

<section class=" login-reg">
    <div class="container">
        <div class="row">
            <div class="login-main">
                <div class="log-bor">&nbsp;</div>
                <div class="log log-1">
                    <div class="login">
                        <h4>Login</h4>
                        {% for message in messages %}
                        <div class="container-fluid p-0">
                            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="True">&times;</span>
                                </button>
                                {{ message }}
                            </div>
                        </div>
                        {% endfor %}
                        <form method="POST" class="form-group">
                            {% csrf_token %}
                            <div class="fv-row mb-7">
                                <strong class="text-dark fs-6 form-label fw-bolder">
                                    <div class="mb-3">
                                        <label for="username">Username</label>
                                        <input type="text" class="form-control" name="username">
                                    </div>
                                    <div class="mb-3">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" name="password">
                                    </div>
                                </strong>
                            </div>

                            <div class="text-center">
                                <button type="submit" id="kt_sign_up_submit" class="btn btn-lg btn-primary">
                                    <span class="indicator-label">Login</span>
                                </button>
                                <br>
                                <br>
                                <br>
                                <ul>
                                    <li>
                                        <span class="ll-3"><a href="/forgot_password">Forgot password?</a></span>
                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}